// Define variables for your color scheme

// For example:
$primary-dark: #FFDA6A;
$primary:#F2C94C ;
$secondary-dark: #4C68F2;
$secondary: #132CA5;
$complementary: #A58523;
$black: #333;
$white: #fff;
