// Define variables for your color scheme

// For example:
$primary-dark: #FFDA6A;
$primary:#F2C94C ;
$blue-dark: #132CA5;
$blue: #4C68F2;
$secondary-dark: #341F71;
$secondary: #4A3899;
$complementary: #A58523;
$black: #333;
$white: #fff;
