<<<<<<< HEAD
.order-info {
  padding: 4vh;
  height: 5%;
  overflow: hidden;
 text-align: center;

}



=======
.order-info{
  padding: 4vh;
  height: 50%;
  overflow: hidden;
  text-align: center;
}
>>>>>>> 2935304d8aa83f71ead40cdb9651fcbd504cfddb
