.search-container {
  width: 50vw;
  margin: 0 auto;

  h1 {
    color: $white;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
  }

  .cat-container {

    .cat-btns {
      display: inline-block;
      align-content: center;
    }
  }

  .price-container {

    .price-btns {
      display: flex;
      justify-content: space-between;

    }
  }
}

@media (max-width: 760px) {
  .search-container {
    width: 90vw;
  }
}
