.search-container {
  width: 50vw;
  margin: 0 auto;

  .search-header {
    color: $white;
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0.7em;
  }

  .cat-container {
    text-align: center;
    .cat-btns {
      display: inline-block;
      align-content: center;

    }
  }

  .price-container {
    text-align: center;
    .price-btns {
      display: inline-block;
      align-content: center;
    }
  }

  .lucky-container{
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }
}

@media (max-width: 760px) {
  .search-container {
    width: 90vw;
  }
}
