.search-header {
  color: $white;
  font-weight: 700;
  font-size: $sub;
  text-align: center;
  margin-bottom: 0.7em;
}

.cat-container {
  text-align: center;
  overflow: hidden;
  .cat-btns {
    display: inline-block;
    align-content: center;

    p{
      color: $secondary;
    }
  }
}

.price-container {
  text-align: center;
  .price-btns {
    display: inline-block;
    align-content: center;
  }
}

.lucky-container{
  display: flex;
  justify-content: center;
  margin-top: 3em;
}


@media (max-width: 760px) {
  .search-container {
    width: 90vw;
  }
}
