.form-box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .login-form {
    position:relative;
    .form-inputs {
      position: relative;

      h2{
        text-align: center;
        color: $white;
      }
      input{
        border-radius: 4px;
        outline: none;
        border: none;
        background-color: $white;
        box-shadow: 0 0 10px rgba(0,0,0,0);
        transition: 0.5s ease;
      }
      input:focus{
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }
      input::placeholder{
        text-align: center;
        opacity: 0.5;
      }

      input[type="submit"]{
        width: 100%;
        background-color: $secondary;
        color: $white;
        padding: 0.5em 1em;
        font-size: $text;
        transition: 0.5s ease;
      }
      input[type="submit"]:hover{
        background-color: $secondary-dark;
      }

    }

    .form-remember{
      position: relative;
      .form-check-label{
        border: none;
        font-size: $mini;
      }
      .form-check-input{
        display: none;
        &:not(:disabled) ~ label {
          cursor: pointer;
        }
      }
    }
    .login-links{
      position:relative;
      top: 1vh;

      a{
        margin: 0 auto !important;
        font-size: $mini;
      }

      .signup-btn{
      }
    }
  }
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  background-color: white;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
