.form-box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .login-form {
    position:absolute;
    .form-inputs {
      position: relative;

      h2{
        text-align: center;
        color: $white;
      }
      input{
        text-align: center;
        font-size: $text;
        height: 6vh;
        color: $black;
        opacity: 1;
        border-radius: 4px;
        outline: none;
        border: none;
        background-color: $white;
        box-shadow: 0 0 10px rgba(0,0,0,0);
        transition: 0.5s ease;
      }
      input:focus{
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }
      input::placeholder{
        text-align: center;
        color: $black;
        opacity: 0.3;
      }

      input[type="submit"]{
        width: 100%;
        height: 6vh;
        background-color: $secondary;
        color: $white;
        font-size: $text;
        transition: 0.5s ease;
      }
      input[type="submit"]:hover{
        background-color: $secondary-dark;
      }

    }

    .form-remember{
      position: relative;
      .form-check-label{
        border: none;
        font-size: $mini;
      }
      .form-check-input{
        display: none;
        &:not(:disabled) ~ label {
          cursor: pointer;
        }
      }
    }
    .login-links{
      text-align: center !important;
      width: 100%;
      padding-top: 2vh;

      p{
        font-size: $text;
        color: $white;
        padding-top: 1vh;
      }
      a{
        margin: 0 auto !important;
        font-size: $text;
        width: 100%;
        color: $white;

      }

    }
    .signup-btn{
      width: 100%;
      height: 6vh;
      background-color: transparent;
      font-size: $text;
      transition: 1s ease;
      text-align: center;
      font-size: $text;
      border-radius: 4px;
      outline: none;
      display: media;
      padding-top: 2px;
      border: 2px solid $secondary;

      a{
        color: $secondary;
        text-decoration: none;
        width: 100%;
      }
    }

    .signup-btn:hover{
      border: 2px solid transparent;
      background-color: $secondary;
    }

    .signup-btn:hover a{
        color: $white;
      }


    .fb-btn{
      width: 100%;
      height: 6vh;
      background-color: $blue;
      font-size: $text;
      transition: 1s ease;
      text-align: center;
      font-size: $text;
      border-radius: 4px;
      outline: none;
      display: media;
      padding-top: 2px;
      border: 2px solid transparent;

      a{
        color: $white;
        text-decoration: none;
        width: 100%;
      }
    }

    .fb-btn:hover{
      border: 2px solid $blue;
      background-color: $blue;
    }

    .fb-btn:hover a{
        // color: $white;
      }
  }
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  background-color: $white !important;
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
