<label class="hamburger-menu" for="">
  <input type="checkbox">
  <span class="menu">
    <span class="hamburger">
      <ul>
        <li><%= link_to "Search", root_path %></li>
        <li><%= link_to "Profile", edit_user_path(current_user) %></li>
        <li><%= link_to "Orders", user_path(current_user) %></li>
      </ul>
    </span>
  </span>
  </input>
</label>
