<div class="banner-home">
  <div class="banner-content">


    <h1 class="slogan">Foodie</h1>


    <p class="sub-slogan">Now you know what you get</p>

  <div class="link-to">
   <div class="btn btn-primary "> <%= link_to "Sing in with Facebook", user_facebook_omniauth_callback_path  %> </div>
  </div>

  </div>

</div>
