<form action="/meals" method="get">
  <div class="price-container">
    <input type="range" class="form-control-range" id="formControlRange" name="max_price" min="0" max="20">
  </div>

  <div class="cat-container">
    <!-- CATEGORIES -->
    <% Meal.nearby_categories(10, cookies).each do |tag| %>
    <input type="radio" id="<%= tag %>" name="category" value="<%= tag %>">
    <label for="<%= tag %>"><%= tag %></label>
    <% end %>
  </div>

  <!-- RANDOM -->
  <div>
    <button type="submit" id="randomize" value="randomize">
     <i class="fas fa-magic"></i>
   </button>
 </div>
</form>

