<% @meals.each do |meal| %>
  <p>-------------------------------------------------</p>
  <h2><%= meal.name %></h2>
  <%= link_to "Explore this meal", meal_path(meal) %>
  <p>-------------------------------------------------</p>
  <br>
  <br>
<% end %>
