<% ten_or_above = 1000000 %>

<h4>PRICE FILTER</h4>

<form action="/meals" method="get">
  <div style="display:none;", id="div-price-filter-zero-four">
    <input type="text" name="min_price" value=0>
    <input type="text" name="max_price" value=3.99>
  </div>
  <input type="submit" value="< &euro;4">
</form>

<form action="/meals" method="get">
  <div style="display:none;", id="div-price-filter-four-seven">
    <input type="text" name="min_price" value=4>
    <input type="text" name="max_price" value=7>
  </div>
  <input type="submit" value="&euro;4 - &euro;7">
</form>

<form action="/meals" method="get">
  <div style="display:none;", id="div-price-filter-seven-ten">
    <input type="text" name="min_price" value=7.01>
    <input type="text" name="max_price" value=10>
  </div>
  <input type="submit" value="&euro;7 - &euro;10">
</form>

<form action="/meals" method="get">
  <div style="display:none;", id="div-price-filter-ten-infinity">
    <input type="text" name="min_price" value=10.01>
    <input type="text" name="max_price" value= <%= ten_or_above %>>
  </div>
  <input type="submit" value="&euro;10 <">
</form>

<br>

<h4>RANDOMIZE</h4>

<form action="/meals" method="get">
  <div style="display:none;", id="div-filter-random">
    <input type="text" name="randomize" placeholder="Just press the random button">
  </div>
  <input type="submit" value="Random">
</form>



<!--
<form action="/meals" method="get">
  <div style="display:none;", id="div-price-filter-zero-four">
    <input type="text" name="min_price" value=0>
    <input type="text" name="max_price" value=4>
  </div>
  <input type="submit" value="Budget">
</form>

<form action="/meals" method="get">
  <div style="display:none;", id="div-price-filter-four-seven">
    <input type="text" name="min_price" value=4.01>
    <input type="text" name="max_price" value=7>
  </div>
  <input type="submit" value="Popular">
</form>

<form action="/meals" method="get">
  <div style="display:none;", id="div-price-filter-seven-ten">
    <input type="text" name="min_price" value=7.01>
    <input type="text" name="max_price" value=10>
  </div>
  <input type="submit" value="Gourmet">
</form>

<form action="/meals" method="get">
  <div style="display:none;", id="div-price-filter-ten-infinity">
    <input type="text" name="min_price" value=10.01>
    <input type="text" name="max_price" value= <%= ten_or_above %>>
  </div>
  <input type="submit" value="Luxe">
</form> -->

