.cat-btn {
  padding: 10px;
  width: auto;
  background-color: $primary !important;
  border: 2px solid $white;
  border-radius: 5px;
  color: $white;
  font-weight: 600;
  transition: 0.5s ease;
}

.cat-btn:hover {
  background-color: $white;
  color: $primary;
  border: 2px solid $primary;
}


#randomize {
  padding: 10px;
  width: 80px;
  height: 80px;
  background-color: $secondary;
  box-shadow: 0 0 8px rgba(0,0,0,0.0);
  // border: 2px solid $white;
  border-radius: 50%;
  color: $white;
  font-weight: 600;
  font-size:30px;
  transition: 0.5s ease;
}

#randomize:hover {
  padding: 10px;
  width: 80px;
  height: 80px;
  background-color: $secondary;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  // border: 2px solid $white;
  border-radius: 50%;
  color: $white;
  font-weight: 600;
  font-size:30px;
}


// RADIO BUTTON

input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: $white;
    cursor: not-allowed;
  }
}
label {
  padding: 10px;
  width: auto;
  background-color: $primary;
  border: 2px solid $white;
  border-radius: 5px;
  color: $white;
  font-weight: 600;
  transition: 0.5s ease;
}

label:hover {
  background-color: $white;
  color: $primary;
  border: 2px solid $primary;
}

input[type="radio"]:checked + label {
  background: $white;
  color: $primary;
  border: 2px solid $white;
}


// TIME BUTTON


.time-buttons {
  padding: 10px;
  width: auto;
  background-color: $white;
  border: 2px solid $primary;
  border-radius: 5px;
  color: $primary;
  font-weight: 600;
  width: 75px;
}

.time-buttons:hover {
  padding: 10px;
  width: auto;
  background-color: $primary;
  border: 2px solid $white;
  border-radius: 5px;
  color: $white;
  font-weight: 600;
  width: 75px;
}
