/* Main navbar */
.navbar {
  background: transparent;
  transition: all 0.3s ease;
  height: 10vh;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* Logo */
.logo{
  font-family: $logo;
  color: $white;
  font-size: 6vh;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(50,50,50,0.1);
}

.logo:hover {
  text-decoration: none;
  color: white;
}

.items-nav{

}
.navbar-brand img {
  height: 50px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
  color: $white;
  font-weight: 400;
  transition: 0.5s ease;
  color: $secondary;
  text-decoration: none;
}
.navbar-item:hover {
  text-decoration: underline;
}

/* Navbar link */
.navbar-link {
  color: $complementary;
  opacity: .7;
  font-size: 24px;
  transition: 0.5s ease;

}
.navbar-link:hover {
  color: $complementary;
  text-decoration: none;
  opacity: 1;
}

/* Dropdown menu */
.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
