.order-box{
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 40px rgba(0,0,0,0.1);
  background-color: $white;

  * {
    margin: 0;
    font-weight: 300;
  }

  .order-info{
    padding: 4vh;
    height:85%;
    // overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-size: $headers;
      font-weight: 400;
    }
    h2{
      font-size: $headers;
      font-weight: 300;
      // text-transform: capitalize;
    }
    p{
      font-size: $sub;
    }
    .order-meal-box{
      // padding: 1em 0;
      .order-meal{
        font-size: $sub;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
      }
    }

    .order-restaurant-box{
      // padding: 1em 0;
      .order-restaurant{
        font-size: $text;
      }
      .order-address{
        font-size: $text;
        i{
          font-size: 2.5vh;
        }
      }
    }
  }

  .div-time-buttons{
    p{
      font-size: $text;
    }
    select{
      border: none;
      outline: none;
      color: $secondary;
      background-color: $white;
      width: 100%;
      text-align: left;
      font-size: $text;
      font-weight: 400;
    }
  }
  .order-pay{
  height: 15%;
  }
}
