// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "animate";

//TEMP
html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
  // background: $primary;
  font: $body-font;
  background-color: $primary;
  // background-image: linear-gradient(0deg, #f2b54c 0%, #f2c94c 100%);
  // background-repeat: no-repeat;
  padding: $navbar-h + 2vh 0 2*$navbar-h 0;

}



button {
    cursor: pointer;
}


.foodie-wrapper{
  display: flex;
  // height: 100vh ;
}


#viewport {
  // width: 50vh;
  // height: 75vh;
  width: 85vw;
  height: 75vh;
  margin: 0 auto;
  position: relative;
  align-self: center;
}

.foodie-container {
  width: 50vw;
  margin: 0 auto;
  align-self:center;
  // padding: $navbar-h 0;
  // align-self: flex-start;
}
.foodie-container-sm {
  width: 50vh;
  margin: 0 auto;
  padding: $navbar-h 0;
    align-self:center;

}
.navbar-padding{
  padding-top: 8vh;
}
@media screen and (min-width: 768px){
	#viewport{
		width: 50vh !important;
	}
}


@media only screen and (max-width: 720px) {
  #viewport {
    width: 85vw;
  }

  .foodie-container{
    width: 85vw;
  }
}




::-moz-selection { /* Code for Firefox */
    color: $white;
    background: $secondary;
}

::selection {
    color: $white;
    background: $secondary;
}


// TUTORIAL CARD ANIMATION SETTINGS

#tut-card {
  -webkit-animation-duration: 2.5s;
  -webkit-animation-delay: 1s;
  // -webkit-animation-iteration-count: infinite;
}
