// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";



//TEMP
html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background: $primary;
    font: $body-font
}

button,
input,
code {
    display: inline-block;
    outline: none;
    font: inherit;
    border: none;
    background: #FDE991;
    padding: 0;
}

button {
    color: #C7433E;
    cursor: pointer;
}

input {
    width: 50px;
}

.foodie-wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}

::-moz-selection { /* Code for Firefox */
    color: $white;
    background: $secondary;
}

::selection {
    color: $white;
    background: $secondary;
}
