// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";



//TEMP
html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background: $primary;
    font: 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
}

button,
input,
code {
    display: inline-block;
    outline: none;
    font: inherit;
    border: none;
    background: #FDE991;
    padding: 0;
}

button {
    color: #C7433E;
    cursor: pointer;
}

input {
    width: 50px;
}

